<footer>
    <div class="asd">
        <div class="credits">
        </div>
        <div class="contacts-container">
            <div class="contacts-1">
                <div class="contact">
                    <div class="c-title">
                        <p>E-mail:</p>
                    </div>
                    <div class="c-text">
                        <p>copytech@gmail.com</p>
                    </div>
                </div>
                <div class="contact">
                    <div class="c-title">
                        <p>Telefon:</p>
                    </div>
                    <div class="c-text">
                        <p>0748.553.874</p>
                        <p>0232.447.377</p>
                    </div>
                </div>
                <div class="contact">
                    <div class="c-title">
                        <p>Adresa: </p>
                    </div>
                    <div class="c-text">
                        <p>Str. Clopotelor Nr.8</p>
                        <p>Judet: Iasi - Oras: Iasi - Romania</p>
                    </div>
                </div>
            </div>
            <div class="contacts-2">
                <div class="contact">
                    <div class="c-title">
                        <p>Orar:</p>
                    </div>
                    <div class="c-text">
                        <p>L-V: 8:00-17:00</p>
                        <p>S-D: Inchis</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>