

<section>
    <div id="navbar" class="nav-box" style="top: -85px">
        <ul>
            <li>
                <div class="dropdown"> <a href="/home"><img class="nav-logo"
                        src="../../images/transparent/Copy Tech.png" alt="">
                    </a>
                        <div class="dropdownMenu">
                            <a href="/oferte">Oferte Service</a>
                            <a href="/magazin">Magazin</a>
                            <a href="/aparatura">Aparatura</a>
                        </div>
                    </div></li>

            <li><a class="line"></a><a class="nav-left" href="/oferte">Oferte Service</a></li>
            <li><a class="line"></a><a class="nav-left" href="/magazin">Magazin</a></li>
            <li><a class="line"></a><a class="nav-left" href="/aparatura">Aparatură</a></li>

            <li>
                <a class="nav-right dropdown" href="/login"><img src="../../images/transparent/icons8-customer-50.png" alt="">
                </a>
            </li>
            <li><a class="nav-right" href="/magazin"><img src="../../images/transparent/icons8-shopping-cart-64.png" alt=""></a>
            </li>
        </ul>
    </div>

    <div id="navline">
        <a href="/home"><img class="nav-logo" href="/home" src="../../images/transparent/Copy Tech.png"
                alt=""></a>
        <ul>
            <li><a class="nav-left" href="/oferte">Oferte Service</a></li>
            <li><a class="line"></a><a class="nav-left" href="/magazin">Magazin</a></li>
            <li><a class="line"></a><a class="nav-left" href="/aparatura">Aparatură</a></li>
            <li><a class="nav-right" href="/magazin"><img src="../../images/transparent/icons8-shopping-cart-64.png" alt=""></a>
            <li>
                <a class="nav-right dropdown" href="/login"><img src="../../images/transparent/icons8-customer-50.png" alt="">
                </a>
            </li>
            </li>
        </ul>
    </div>
</section>

