p {
    margin: 0
}

body {
    margin: 0;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}

.slogan{
    max-height: 60vh;
}

.blank {
    height: 60vh;
    overflow: hidden;
    background-image: url("../images/useless/slogan2.jpg");
    opacity: 0.5;
    background-size: cover;
}
.intro {
    padding-top: 15%;
    max-height: 60vh;
    overflow: hidden;
    z-index: 3;
}

@media only screen and (max-width: 1200px) and (min-width: 800px){
    .blank {
        margin-left: -400px;
    }
    .intro{
        padding-top: 20%;
        padding-left: 12%;
    }
    .numef{
        font-size: 5rem;
    }
    .intro p{
        font-size: 2.38rem;
    }
}
@media only screen and (max-width: 800px) and (min-width: 530px){
    .slogan{
        max-height: 50vh;
    }
    .blank {
        height: 50vh;
        margin-left: -600px;
    }
    .intro{
        max-height: 50vh;
        padding-top: 20%;
    }
    .numef{
        font-size: 5rem;
    }
    .intro p{
        font-size: 2.38rem;
    }
}
@media only screen and (max-width: 530px){
    .slogan{
        max-height: 50vh;
    }
    .blank {
        height: 50vh;
        margin-left: -600px;
    }
    .intro{
        max-height: 50vh;
        padding-top: 20%;
    }
    .numef{
        font-size: 3rem;
    }
    .intro p{
        font-size: 1.8rem;
    }
}
/* ***CELE 6 COMPARTIMENTE*** */

.big{
    font-family: 'Garet', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.small{
    margin: auto;
    margin-top: 3%;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
}

.small1 {
    border-radius: 25px;
    width: 55%;
    height: 34vh;
    background-color: black;
    overflow: hidden;
}

.small2{
    border-radius: 25px;
    width: 35%;
    height: 34vh;
    background-color: #131313;
    color: white;
    overflow: hidden;
    position: relative;
}

.big p{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5%;
    padding-top: 2%;
}

.small p:nth-of-type(2){
    font-size: 1.2rem;
    color: grey;
    padding-top: 3%;
}

.small1 img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
    opacity: 0.8;
}

.small2 button{
    color: white;
    background-color: #BC2C1A;
    border-radius: 5px;
    padding: 6px 8px;
    margin-left: 80%;
    transition: 200ms;
}

.but{
    position: absolute;
    bottom: 10px;
    right: 80px
}

.small2 button:hover{
    background-color: red;
}

@media only screen and (max-width: 1100px) and (min-width: 800px){
    .big p{
        font-size: 1.5rem;
    }
    
    .small p:nth-of-type(2){
        font-size: 1rem;

    }
}
@media only screen and (max-width: 800px) and (min-width: 520px){
    .small{
        margin: auto;
        margin-top: 3%;
        width: 90%;
        justify-content: space-around;
        flex-direction: column;
    }

    .small:nth-of-type(2), .small:nth-of-type(4), .small:nth-of-type(6) {
        flex-direction: column-reverse;
    }
    
    .small1 {
        border-radius: 0px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
        height: 34vh;
    }
    
    .small2{
        border-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: 18vh;
    }
    
    .big p{
        font-size: 1.2rem;
        padding-bottom: 0%;
    }
    
    .small p:nth-of-type(2){
        font-size: 1rem;
    }
}
@media only screen and (max-width: 520px) and (min-width: 320px){
    .small{
        margin: auto;
        margin-top: 3%;
        width: 95%;
        justify-content: space-around;
        flex-direction: column;
    }

    .small:nth-of-type(2), .small:nth-of-type(4), .small:nth-of-type(6) {
        flex-direction: column-reverse;
    }
    
    .small1 {
        border-radius: 0px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
        height: 34vh;
    }
    
    .small2{
        border-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: 18vh;
    }
    
    .big p{
        font-size: 1rem;
        padding-bottom: 0%;
    }
    
    .small p:nth-of-type(2){
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 320px){
    .small{
        margin: auto;
        margin-top: 3%;
        width: 95%;
        justify-content: space-around;
        flex-direction: column;
    }

    .small:nth-of-type(2), .small:nth-of-type(4), .small:nth-of-type(6) {
        flex-direction: column-reverse;
    }
    
    .small1 {
        border-radius: 0px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        width: 100%;
        height: 34vh;
    }
    
    .small2{
        position: relative;
        border-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: 22vh;
    }
    
    .but{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -5px;
        margin-left: -5px;
        width: 100vw;
    }

    .big p{
        font-size: 0.8rem;
        padding-bottom: 0%;
    }
    
    .small p:nth-of-type(2){
        font-size: 0.6rem;
    }
    .small2 button{
        color: white;
        background-color: #BC2C1A;
        margin: 0;
        width: 100%;
        height: 7vh;
    }
}