<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../javascripts/home.js" defer></script>
    <script src="../../javascripts/shop.js" defer></script>
    <link href="https://fonts.cdnfonts.com/css/garet" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alatsi-2" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/aparatura.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <title>Aparatura</title>
</head>

<body>
    <%- include('../partials/nav'); -%>

        <div class="slogan">
            <div class="blank">
            </div>
            <div class="intro">
                <p><span class="numef"><span class="red">C</span>onsilierii <span class="red">T</span>ai</span></p>
                <p>In <span class="red">materie de</span> aparatura <span class="red">tipografica</span></p>
            </div>
        </div>

        <section>
            <div class="containers">

                    <div class="cont-row c1">
                        <div class="images4">
                            <div class="imgr">
                                <div class="img1"></div>
                                <div class="img2"></div>
                            </div>
                            <div class="imgr">
                                <div class="img2"></div>
                                <div class="img1"></div>
                            </div>
                        </div>
                        <div class="c1card">
                            <p><strong>Aparatura de birou</strong></p>
                            <p>Noi dam viata documentelor tale</p>
                            <p>Facilitam achizitionarea oricarui tip de aparatura de birou</p>
                        </div>
                    </div>

                    <div class="cont-row c2">
                        <div class="c2container">
                            <div class="c2title">
                                <p>Tipografii</p>
                            </div>
                            <div class="c2text">
                                <p>Intermediari pentru achizitionarea oricarui tip de aparatura tipografica de mare
                                    capacitate</p>
                                <p>Consiliere in alegerea echipamentului potrivit nevoilor tale</p>
                            </div>
                            <div class="c2image"></div>
                        </div>
                    </div>

                    <div class="cont-row c3">
                        <div class="c3card">
                            <p>Cateva detalii si noi ne ocupam de restul</p>
                            <p>Spune-ne: bugetul, suprafata spatiului si asteptarile tale</p>
                            <p><em>Noi ne ocupam de restul!</em></p>
                        </div>
                        <div class="c3image"></div>
                        <div class="c3title">
                            <p>Planificam</p>
                        </div>

                    </div>

                    <div class="cont-row c4">
                        <div class="c4title">
                            <p>Te ajutam sa scapi de aparatura veche</p>
                            <p>Reinnoieste-te!</p>
                        </div>
                        <div class="c4text">
                            <p>Inscrie-te in programul nostru de vanzare a aparaturii SH</p>
                            <p>Spune-ne care este pretul tau sau daca esti interesat de un schimb</p>
                            <p><em>Noi cautam antreprenori compatibili ofertei tale!</em></p>
                        </div>
                        <div class="c4image"></div>
                    </div>

                    <div class="cont-row c5">
                        <div class="c5image"></div>
                        <div class="c5title">
                            <p>Aparatura Noua</p>
                        </div>
                        <div class="c5text">
                            <div class="c5row">
                                <div class="c5col -l">
                                    <p>A</p>
                                </div>
                                <div class="c5col -r">
                                    <p>Costuri mai mici de intretinere</p>
                                </div>
                            </div>
                            <div class="c5row">
                                <div class="c5col -l">
                                    <p>B</p>
                                </div>
                                <div class="c5col -r">
                                    <p>Sanse minime de aparitie a intarzierilor cauzate de defectiuni</p>
                                </div>
                            </div>
                            <div class="c5row">
                                <div class="c5col -l">
                                    <p>C</p>
                                </div>
                                <div class="c5col -r">
                                    <p>Sanse mai bune de revanzare dupa durate medii de utilizare</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cont-row c6">
                        <div class="c6image"></div>
                        <div class="c6title">
                            <p>Aparatura Utilizata</p>
                        </div>
                        <div class="c6text">
                            <div class="c6row">
                                <div class="c6col -r">
                                    <p>Costuri de achizitionare mai mic</p>
                                </div>
                                <div class="c6col -l">
                                    <p>A</p>
                                </div>
                            </div>
                            <div class="c6row">
                                <div class="c6col -r">
                                    <p>Depreciere a pretului mult mai lenta</p>
                                </div>
                                <div class="c6col -l">
                                    <p>B</p>
                                </div>
                            </div>
                            <div class="c6row">
                                <div class="c6col -r">
                                    <p>Piese de schimb mai ieftine datorita tehnologiei mai vechi</p>
                                </div>
                                <div class="c6col -l">
                                    <p>C</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cont-row c7">
                        <div class="c7imagecont">
                            <div class="c7image1"></div>
                            <div class="c7image2"></div>
                        </div>
                        <div class="c7textcont">
                            <p>Specialisti in produsele pe care le comercializam</p>
                            <p>Mentenanta si Reparatii</p>
                            <p>Detinem expertiza necesara pentru a efectua lucrari de mentenanta si reparatii pe orice produs achizitionat de la noi</p>
                        </div>
                    </div>

                    <div class="cont-row c8">
                        <div class="c8title">
                            <p>Garantam calitatea</p>
                        </div>
                        <div class="c8text">
                            <p>Garnatie 36 luni la orice dispozitiv nou</p>
                        </div>
                        <div class="c8image">
                        </div>
                    </div>

                    <div class="cont-row c9">
                    </div>

            </div>
        </section>

        <%- include('../partials/contact'); -%>

</body>
<%- include('../partials/credits'); -%>

    </body>

</html>
