<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascripts/home.js" defer></script>
    <link href="https://fonts.cdnfonts.com/css/garet" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alatsi-2" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Copy Tech</title>
</head>

<body>

    <%- include('../partials/nav'); -%>
        <div class="slogan">
            <div class="vid">
                <video class="videoInsert" autoplay muted loop src="../video/video.mp4">
            </div>
            <div class="intro">
                <p><span class="numef"><span class="red">C</span>opy <span class="red">T</span>ech</span>, inima <span
                        class="red">tipografiei</span> tale</p>
                <p>De <span class="red">16 ani</span> profesioniștii tăi în <span class="red">aparatură</span>
                    tipografică
                    de <span class="red">înaltă
                        capacitate</span></p>

            </div>
        </div>

        <section>
            <div class="about">
                <div class="title-card">
                    <p class="card-title">De ce</p>
                    <p class="card-title">Copy Tech?</p>
                    <p class="card-text">Copy Tech s-a nascut din dorinta de a Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Distinctio sequi reiciendis, magni maiores eaque harum impedit, non quibusdam
                        beatae
                        atque cupiditate minus nesciunt perspiciatis. Minima ducimus omnis sint repellat cum.</p>
                </div>


                <div class="cars">
                    <div class="columns">
                        <div class="carousel car1">
                            <div class="slides">
                                <span>Peste 100 de clienți multumiți</span>
                            </div>
                            <div class="slides">
                                <span>Reparații doar cu piese originale</span>
                            </div>
                            <div class="slides">
                                <span>Principalii parteneri tehnici ale celor mai mari tipografii ale regiunii
                                    Moldovei</span>
                            </div>
                            <div class="slides">
                                <span>Specialiști în aparatură Minolta de mare capacitate</span>
                            </div>
                            <div class="slides">
                                <span>Peste 100 de clienți multumiți</span>
                            </div>
                        </div>
                        <div class="card-writing">
                            <p class="card-title">Ce ne recomanda?</p>
                            <p class="card-text">De-a lungul celor 16 ani, Copy Tech a alcatuit un portofoliu de
                                clienti multumiti si fideli
                            </p>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="carousel car2">
                            <div class="slides">
                                <img src="../images/carusel/carusel_toner.jpg" alt="">
                                <span>Tonere</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_hartie.jpg" alt="">
                                <span>Hartie</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_lube.jpg" alt="">
                                <span>Lubrifianti</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_electronice.jpg" alt="">
                                <span>Electronice</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_toner.jpg" alt="">
                                <span>Tonere</span>
                            </div>
                        </div>
                        <div class="card-writing">
                            <p class="card-title">Magazinul nostru</p>
                            <p class="card-text">Prin intermediul nostru aveti acces la materia prima ce permite
                                functionarea
                                continua a tipografiei
                                dumneavoastra</p>
                        </div>
                    </div>


                    <div class="columns">
                        <div class="carousel car3">
                            <div class="slides">
                                <img src="../images/carusel/carusel_copiator.jpg" alt="">
                                <span>Copiator</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_ghilotina.jpg" alt="">
                                <span>Ghilotina</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_plotter.jpg" alt="">
                                <span>Plotter</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_finisare.jpg" alt="">
                                <span>Finisare</span>
                            </div>
                            <div class="slides">
                                <img src="../images/carusel/carusel_copiator.jpg" alt="">
                                <span>Copiator</span>
                            </div>
                        </div>
                        <div class="card-writing">
                            <p class="card-title">Servicii</p>
                            <p class="card-text">Vasta noastra expertiza in domeniul aparaturii tipografice ne permite
                                in
                                cel
                                mai scurt timp sa
                                efectuam reparatii durabile pe o gama foarte variata de aparatura de tipografie</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="servicii">
                <p>Serviciile Noastre:</p>
            </div>

            <div class="cards">

                <div class="card card-1">
                    <a class="card-link" href="">
                        <img src="../images/transparent/customer-support.png" alt="">
                        <p> Reparatii si Intretinere</p>
                    </a>
                </div>


                <div class="card card-2">
                    <a href="" class="card-link">
                        <img src="../images/transparent/boxes.png" alt="">
                        <p> Magazin Consumabile</p>
                    </a>
                </div>


                <div class="card card-3">
                    <a href="" class="card-link">
                        <img src="../images/transparent/Copy-Tech-White.png" alt="">
                        <p>Copy Tech</p>
                    </a>
                </div>

                <div class="card card-4">
                    <a href="" class="card-link">
                        <img src="../images/transparent/printer.png" alt="">
                        <p>Consultanta Aparatura</p>
                    </a>
                </div>

                <div class="card card-5">
                    <a href="" class="card-link">
                        <img src="../images/transparent/mail.png" alt="">
                        <p>Contacteaza-ne</p>
                    </a>
                </div>

            </div>
        </section>

</body>
<%- include('../partials/credits') %>

</html>