<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../javascripts/home.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/garet" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/alatsi-2" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/oferte.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/transparent/Copy-Tech-White.png" />
    <title>Oferte Service</title>
</head>

<body>
    <%- include('../partials/nav'); -%>

        <div class="slogan">
            <div class="blank">
            </div>
            <div class="intro">
                <p><span class="numef"><span class="red">C</span>opy <span class="red">T</span>ech</span></p>
                <p><span class="red">Tipografia</span> ta <span class="red">traieste</span> cu noi</p>
            </div>
        </div>

        <section>
            <div class="big">
                <div class="small">
                    <div class="small1"><img src="../images/6cards/clienti.jpg" alt=""></div>
                    <div class="small2">
                        <p>Peste 100 de clienti multumiti</p>
                        <p>Portofoliul nostru include clienți de toate dimensiunile, deservim atât centrele de copiere
                            cât și tipografiile de mare capacitate</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                </div>
                <div class="small">
                    <div class="small2">
                        <p>Specializati pe aparatura Minolta de mare capacitate</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium magnam quae et ipsam
                            quo exercitationem quia quos, molestiae officia modi iusto delectus nisi, quibusdam in nemo
                            fugiat consequuntur. Modi, adipisci?</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                    <div class="small1"><img src="../images/6cards/minolta.jpg" alt=""></div>
                </div>
                <div class="small">
                    <div class="small1"><img src="../images/6cards/romania.jpg" alt=""></div>
                    <div class="small2">
                        <p>Prestam servicii oriunde in tara</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto beatae non eveniet totam
                            ratione ea tempora praesentium atque dicta nam veniam ipsum, minima id amet excepturi, eos
                            laborum magni dolor?</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                </div>
                <div class="small">
                    <div class="small2">
                        <p>Reparatii cu piese originale pentru o durata de viata cat mai indelungata</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste impedit architecto
                            corporis quasi perferendis magnam quibusdam illo provident itaque excepturi sint iusto
                            tempora voluptates, veritatis qui quam natus nulla.</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                    <div class="small1"><img src="../images/6cards/piese.jpg" alt=""></div>
                </div>
                <div class="small">
                    <div class="small1"><img src="../images/6cards/telefon.jpg" alt=""></div>
                    <div class="small2">
                        <p>Consultanta telefonica gratuita pentru clientii inregistrati</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni aut vero suscipit,
                            perspiciatis rem ipsum aspernatur. Non dolores, officiis, laboriosam debitis, sunt harum
                            deleniti dolorem fugiat similique magnam ut deserunt?</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                </div>
                <div class="small">
                    <div class="small2">
                        <p>Principalii parteneri ale celor mai mari tipografii din regiunea Moldovei</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit provident quis veniam
                            officiis soluta saepe dolore sed qui, dolor aliquid optio nobis eveniet veritatis alias,
                            quasi similique facere. Perspiciatis, commodi!</p>
                            <div class="but">
                                <button onClick="document.getElementById('nume').scrollIntoView();" >Contact</button>
                            </div>
                    </div>
                    <div class="small1"><img src="../images/6cards/moldova.jpg" alt=""></div>
                </div>
            </div>
        </section>


        <%- include('../partials/contact'); -%>

</body>
<%- include('../partials/credits'); -%>

</html>